.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/bg-1500w.png");
}
.sign-in-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.sign-in-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-in-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-in-container3 {
  flex: 0 0 auto;
  width: 905px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-in-image1 {
  width: 998px;
  height: 338px;
  object-fit: cover;
}
.sign-in-image2 {
  width: 30%;
  align-self: flex-start;
  object-fit: cover;
}
.sign-in-image3 {
  width: 45%;
  align-self: flex-end;
  object-fit: cover;
}
.sign-in-image4 {
  width: 4%;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 33%;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.sign-in-image5 {
  width: 30%;
  object-fit: cover;
  margin-left: 10%;
  margin-bottom: 4%;
}
.sign-in-image6 {
  width: 100%;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
